# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*~
.cursor/*
.cursor
.claude/
.claude
.claude/*
.claude/settings.json


# Logs / cache
*.log
.cache

# Optional
node_modules/
.env
.env.local
.vscode
.cursor